@import "../../../helpers/Variables.scss";
@import "../../../helpers/Media-mixin.scss";

.price-selector {
    display: flex;
    align-items: center;
    gap: 10px;
}

.price-selector button {
    display: block;
    font-size: $--font-secondary;
    font-weight: $--weight-light;
    color: $--2--black-secondary;
}
