@import '../helpers/Variables.scss';
@import '../helpers/Media-mixin.scss';

.header-section {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    &__contacts {
        width: 494px;
        display: flex;
        justify-content: space-between;
    }

    &__info {
        width: 512px;
        display: flex;
        justify-content: space-between;
        color: $--2--black-secondary;
    }
}

.header-main {
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__hotline-header {
        display: flex;
        align-items: center;
    }
}

.contacts {

    &__address, 
    &__email {
        font-weight: $--weight-semibold;
        display: flex;
        gap: 15px;
    }

    &__address span,
    &__email span {
        font-size: $--font-secondary;
        font-weight: $--weight-light;
        color: $--2--black-secondary;
    }
}


.hotline-header {
    display: flex;
    gap: 14px;
}

.info-contacts {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 5px;

    &__number {
        font-weight: $--weight-semibold;
    }

    &__schedule,
    &__call {
        color: $--2--black-secondary;
    }

    &__schedule {
        font-weight: $--weight-light;
        font-size: $--font-secondary;
    }

    &__call {
        font-weight: $--weight-regular;
        font-size: $--font-small;
    }
}

.header-cart {
    display: flex;
    gap: 24px;
}

.header-info-cart {
    &__name {
        font-weight: $--weight-light;
        font-size: $--font-secondary;
        color: $--2--black-secondary;
    }

    &__price {
        font-weight: $--weight-semibold;
    }
}