@import "src/scss/Media-mixin";
@import "src/scss/Variables";

.modal {
    position: relative;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 60px;
    padding: 30px;
    width: 740px;
    height: 430px;
    border-radius: 8px;
    background-color: $--0--white;

    @include _979 {
        width: 600px;
        height: 380px;
    }

    @include _768 {
        width: 500px;
        height: 340px;
        gap: 50px;
    }

    @include _600 {
        width: 400px;
    }

    @include _480 {
        width: 250px;
        gap: 30px;
    }

    &__cross {
        width: 24px;
        height: 24px;
        border: none;
        background-color: transparent;
        margin-left: auto;
        cursor: pointer;
    }
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        font-size: $--font-xxl;
        font-weight: $--weight-semibold;
        color: $--1--black-primary;
        text-transform: uppercase;
        margin: 25px 0 20px 0;

        @include _768 {
            font-size: $--font-xl;
        }

        @include _480 {
            text-align: center;
        }
    }

    &__text {
        font-size: $--font-large;
        font-weight: $--weight-light;
        color: $--2--black-secondary;
        margin: 0;

        @include _768 {
            font-size: $--font-primary;
        }

        @include _480 {
            text-align: center;
        }
    }
}
