@import "src/scss/Variables";
@import "src/scss/Media-mixin";

.price-selector {
    display: flex;
    align-items: center;
    gap: 10px;
}

#price {
    &-low,
    &-high {
        width: 100px;
        height: 25px;
        border-radius: 20px;
        background-color: rgba(255, 198, 80, 0.3);
        border: none;
        text-align: center;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus {
    outline: none;
}
