@import "../../helpers/Media-mixin.scss";
@import "../../helpers/Variables.scss";

.cart {
    &__breadcrumbs {
        padding: 45px 0;

        @include _480 {
            padding: 20px 0;
        }
    }

    &__breadcrumbs a {
        text-decoration: none;
        color: $--2--black-secondary;
    }

    &__breadcrumbs span {
        opacity: 0.7;
    }

    &__heading {
        margin: 0 0 50px 0;
    }

    &__order {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 30px 0;
    }
}

.empty {
    font-size: $--font-xl;
    text-align: center;
    margin: 0 0 40px 0;

    &__link {
        font-size: $--font-large;
        color: $--2--black-secondary;
    }
}

.order {
    &__price {
        font-size: $--font-xl;
    }

    button {
        @include _600 {
            width: 180px;
            font-size: $--font-primary;
        }
    }
}
