// Color scheme
$--0--white: #ffffff;
$--1--black-primary: #111111;
$--2--black-secondary: #3f4e65;
$--5--yellow-secondary: #ffc85e;
$--6--yellow-secondary: $--5--yellow-secondary;
$--7--yellow-primary: #f3a50d;

// Fonts
$--font-primary: 14px;
$--font-secondary: 12px;
$--font-small: 10px;
$--font-large: 20px;
$--font-xl: 30px;
$--font-xxl: 40px;
$--weight-light: 300;
$--weight-regular: 400;
$--weight-semibold: 600;
$--weight-bold: 700;
