@import "../helpers/Media-mixin.scss";
@import "../helpers/Variables.scss";

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include _768 {
        flex-wrap: wrap;
        gap: 20px;
    }
}

.buy {
    width: 470px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include _1400 {
        width: 420px;
    }

    @include _1170 {
        width: 320px;
    }

    @include _979 {
        flex-wrap: wrap;
        justify-content: center;
        width: 200px;
        gap: 20px;
    }

    @include _768 {
        width: 580px;
    }
}

.price {
    &__value {
        font-size: $--font-xl;

        @include _1170 {
            font-size: $--font-large;
        }
    }
}

.cart-image {
    width: 250px;
    height: 250px;

    @include _1170 {
        width: 200px;
        height: 200px;
    }

    @include _979 {
        width: 150px;
        height: 150px;
    }

    @include _480 {
        width: 200px;
        height: 200px;
    }

    &__image {
        width: 250px;
        height: 250px;

        @include _1170 {
            width: 200px;
            height: 200px;
        }

        @include _979 {
            width: 150px;
            height: 150px;
        }

        @include _480 {
            width: 200px;
            height: 200px;
        }
    }
}

.cart-information {
    display: flex;
    align-items: center;
    gap: 20px;

    @include _1400 {
        width: 650px;
    }

    @include _1170 {
        width: 600px;
        gap: 10px;
    }

    @include _979 {
        width: 500px;
        gap: 0;
    }

    @include _768 {
        width: 580px;
    }

    @include _600 {
        width: 460px;
    }

    @include _480 {
        flex-wrap: wrap;
        justify-content: center;
        width: 330px;
    }
}

.cart-specification {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 480px;
    margin: 20px 0;

    @include _1400 {
        width: 400px;
    }

    @include _768 {
        width: 430px;
    }

    &__value-weight {
        font-size: $--font-secondary;
        font-weight: $--weight-regular;
        color: $--2--black-secondary;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &__name {
        font-size: $--font-xl;
        font-weight: $--weight-bold;
        color: $--1--black-primary;
        margin: 0;

        @include _1170 {
            font-size: $--font-large;
        }
    }

    &__description {
        font-size: $--font-secondary;
        font-weight: $--weight-regular;
        color: $--2--black-secondary;
    }
}

.cart-line {
    @include _1400 {
        width: 1140px;
    }

    @include _1170 {
        width: 950px;
    }

    @include _979 {
        width: 720px;
    }

    @include _768 {
        width: 580px;
    }

    @include _600 {
        width: 460px;
    }

    @include _480 {
        width: 330px;
    }
}
