@import "../helpers/Variables.scss";
@import "../helpers/Media-mixin.scss";

.footer-section {
    height: 500px;
    background-color: $--2--black-secondary;
    color: $--0--white;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 70px 0 0 0;

    &__info-footer,
    &__menu-footer,
    &__categories-footer,
    &__price-footer,
    &__contacts-footer {
        display: flex;
        flex-direction: column;
    }
}

.info-footer {
    &__logo {
        width: 155px;
        margin: 0 0 15px 0;
    }

    &__description {
        font-size: 18px;
        line-height: 1.5;
        margin: 0 0 45px 0;
    }

    &__advertisement {
        font-size: $--font-secondary;
        margin: 0 0 15px 0;
    }
}

.menu-footer__title,
.categories-footer__title,
.price-footer__title,
.contacts-footer__title {
    margin: 0 0 25px 0;
    font-size: $--font-large;
    font-weight: $--weight-semibold;
}

.menu-footer__link,
.categories-footer__link {
    margin: 0 0 20px 0;
    text-decoration: none;
    color: $--0--white;
}

.price-footer {
    &__icons {
        display: flex;
        gap: 10px;
    }

    &__social {
        margin: 15px 0;
    }
}

.contacts-footer {
    &__email {
        margin: 25px 0;
    }

    &__cards {
        display: flex;
        gap: 5px;
    }
}

.call {
    &__number {
        font-weight: $--weight-semibold;
    }

    &__schedule {
        font-size: $--font-secondary;
        font-weight: $--weight-light;
        margin: 5px 0;
    }

    &__order {
        font-size: $--font-small;
        color: $--0--white;
    }
}

.email {
    &__address {
        font-weight: $--weight-semibold;
    }

    &__status {
        font-size: $--font-secondary;
        font-weight: $--weight-light;
    }
}
