@import "../../../helpers/Media-mixin.scss";
@import "../../../helpers/Variables.scss";

.modal {
    position: relative;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 60px;
    padding: 30px;
    width: 740px;
    height: 430px;
    border-radius: 8px;
    background-color: $--0--white;
    // z-index: 1000;

    &__cross {
        width: 24px;
        height: 24px;
        border: none;
        background-color: transparent;
        margin-left: auto;
        cursor: pointer;
    }
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        font-size: $--font-xxl;
        font-weight: $--weight-semibold;
        color: $--1--black-primary;
        text-transform: uppercase;
        margin: 25px 0 20px 0;
    }

    &__text {
        font-size: $--font-large;
        font-weight: $--weight-light;
        color: $--2--black-secondary;
        margin: 0;
    }
}
