@import "../../../helpers/Variables.scss";
@import "../../../helpers/Media-mixin.scss";

.button {
    width: 100%;
    height: 100%;
    border-radius: 80px;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: $--font-primary;
    font-weight: $--weight-bold;
    color: $--0--white;
    background-color: $--6--yellow-secondary;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    @include _600 {
        font-size: $--font-secondary;
    }

    @include _480 {
        font-size: $--font-primary;
    }
}

._button-large {
    width: 200px;
    height: 60px;

    @include _1400 {
        width: 180px;
        height: 55px;
    }

    @include _1170 {
        width: 180px;
        height: 55px;
    }

    @include _979 {
        width: 160px;
        height: 50px;
    }

    @include _768 {
        width: 150px;
    }

    @include _600 {
        width: 110px;
        height: 50px;
    }

    @include _480 {
        width: 150px;
        height: 50px;
    }
}

._button-medium {
    width: 170px;
    height: 60px;
}

._button-small {
    width: 150px;
    height: 45px;
}

._button-small > * {
    font-size: $--font-small;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

._button-round-big {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

._button-round-small {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    border-radius: 50%;

    @include _1400 {
        width: 35px;
        height: 35px;
    }

    @include _1170 {
        width: 35px;
        height: 35px;
    }

    @include _979 {
        width: 30px;
        height: 30px;
    }

    @include _768 {
        width: 35px;
        height: 35px;
    }
}

._button--mobile {
    display: none;

    @include _480 {
        border-collapse: collapse;
        display: flex;
        width: 165px;
        height: 50px;
    }
}