@import "../../../helpers/Variables.scss";
@import "../../../helpers/Media-mixin.scss";

._selector-wide button {
    width: 100px;
    height: 25px;
    border-radius: 20px;
    background-color: rgba(255, 198, 80, 0.3);
}

._selector-narrow button {
    width: 35px;
    height: 25px;
    border-radius: 12px;
    background-color: rgba(255, 198, 80, 0.3);
}
