@import './helpers/Media-mixin.scss';
@import './helpers/Variables.scss';

body {
    font-family: Inter, sans-serif;
    font-size: $--font-primary;
    background-color: $--0--white;
    color: $--1--black-primary;
    margin: 0;
    padding: 0;
}

._container {
    width: 1360px;
    margin: 0 auto;
}